h1{
    color: rgb(73, 193, 193);
}

img{
    border: solid 1px black;
    
}
ul li{
    color: rgb(211, 53, 53);
}
ol li{
    color: rgb(211, 53, 53);
}
a{
    border: solid 1px black;
    padding: 5px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
